@import '../../styles/variables.sass'

.links-list-component
  ul
    padding-inline-start: 20px !important
    font-size: 14px
  li
    margin-bottom: 10px
    span
      font-weight: 500
    a
      word-wrap: break-word
