.anticon
  svg
    margin-bottom: 7px

.ant-pagination
  text-align: center
.ant-pagination-item:hover a, .ant-pagination-item-active a, .ant-pagination-item:focus a 
  color: $secondary !important
.ant-pagination-item-active, .ant-pagination-item:hover, .ant-pagination-item:focus, 
  border-color: $secondary !important
.ant-pagination-item-link:hover, .ant-pagination-item-link:focus
  border-color: $secondary !important
  color: $secondary !important