@import '../../styles/variables.sass'

.nav-bar-component 
	z-index: 1
	position: fixed
	top: 0
	width: 100%
	padding: 0px 20px
	background-color: #fff
	.special
    background-color: $primary
    color: #fff
    padding: 10px 20px
    border: none
    border-radius: 5px
	.special:focus
    outline: none
	.logo-container
		width: 90px
		.logo
			width: 100%
	.nav-bar-custom
		border-bottom: 1px solid $light-grey
	.toggle
		color: #fff
		background-color: $light-grey
	a
	  color: $very-dark-grey


