@import '../../styles/variables.sass'

.embed-component
  padding-top: 0px
  background-color: #fff
  text-align: center
  padding-bottom: 120px
  .col-md-6
    @media #{$md-and-less}
      padding: 0px 20px !important
    @media #{$xs-and-less}
      padding: 0px 10px !important
    padding: 0px 40px !important
  .header-component
    background-image: url("../../../static/images/dots.png")
    padding: 35px
    background-color: #f3faff
    text-align: center
